 /* header banner part */
 .honda-font{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
}
.honda-banner-bg{
    background-color: #264653;
}
.banner-text{
    width: 480px;
}
.buttonn{
    background-color:#E76F51 ;
}
/* feature bike style */
.categorise img{
    width: 288px;
    height: 243px;
}
.filter{
    filter: grayscale(100%);
}

/* happy client comment */
.client img{
    width: 150px;
    height: 150px;
}
.star{
    color: #E77C40;
}
.coment{
    color: #6C6C6C;
}
.header{
    font-size: 48px;
}
/* --end--- */
   
.question img{
    width: 432px;
    height: 423px;
}
.honda-font-color{
    color: #E76F51;
}